body{
    background-color: MediumSlateBlue;
    font-family: 'Raleway', sans-serif;
}
#clear, #botones{
    display: flex;
    justify-content: center;
}
#btn-1,#btn-2,#btn-3,#btn-4,#btn-5,#btn-6,#btn-7,#btn-8,#btn-9{
    width: 150px;
    height: 120px;
    font-size: 100px;
    background-color: mediumslateblue;
    border-color: aqua;
}
#titulo,#subtitulo{
    text-align: center;
    color:#be3144;
}
.juego_1 {
    padding-top: 50px;
}
#btn-1,#btn-2,#btn-3 {
    border-top: none;
}
#btn-1,#btn-4,#btn-7 {
    border-left: none;
}
#btn-3,#btn-6,#btn-9 {
    border-right: none;
}
#btn-7,#btn-8,#btn-9 {
    border-bottom: none;
}
#player, #ganador{
    color:black;
    text-align: center;
}
#reiniciar {
    margin-top: 20px;
    width: 100px;
    font-size: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
#guardar {
    margin-top: 20px;
    width: 100px;
    font-size: 1rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
table, tr, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}
#tabla {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
tr, th {
    font-size: 1.5rem;
}
#save {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: auto;
}
.toast {
    background: linear-gradient(#00b09b, #96c92d);
    width: 280px;
    height: auto;
}